# Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder
import random
pd.set_option('display.max_columns',None)

import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import OrdinalEncoder

import warnings
warnings.filterwarnings("ignore")

# fechas
from datetime import datetime

# gráficos
import seaborn as sns
import matplotlib.pyplot as plt

# preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures

# algoritmos de clasificación
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

# algoritmos de regresión
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# métricas
import sklearn.metrics as metrics

# hiperparametrización
from sklearn.model_selection import GridSearchCV

# TensorFlow y tf.keras
import tensorflow as tf
from tensorflow import keras

import xgboost as xgb

from numpy import random
random.seed(42)

from sklearn.model_selection import train_test_split

In [2]:
# Configurar pandas para mostrar más valores
np.set_printoptions(threshold=np.inf)

# Cargar datos

In [3]:
file_path = "C:/Users/Herre/Desktop/commercial_activity_df.csv"
file_path_2 = "C:/Users/Herre/Desktop/products_df.csv"
file_path_3 = "C:/Users\Herre\Desktop\sociodemographic_df.csv"

In [4]:
df_comercial_activity = pd.read_csv(file_path)
df_products = pd.read_csv(file_path_2)
df_socialdemographic = pd.read_csv(file_path_3)

# EDA: Análisis Exploratorio

## EDA df_comercial_activity

In [5]:
df_comercial_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

In [6]:
df_comercial_activity.head()

,Unnamed: 0,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES
1,1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
2,2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
3,3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO
4,4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO

In [7]:
columnas_categoricas = df_comercial_activity.select_dtypes(include=['object']).columns.tolist()
columnas_numericas = df_comercial_activity.select_dtypes(include=['int', 'float']).columns.tolist()

In [8]:
for col in columnas_categoricas:
    unique_values = df_comercial_activity[col].unique()
    print(f"Unique values in {col}: {unique_values}")

Unique values in pk_partition: ['2018-01-28' '2018-02-28' '2018-03-28' '2018-04-28' '2018-05-28'
 '2018-06-28' '2018-07-28' '2018-08-28' '2018-09-28' '2018-10-28'
 '2018-11-28' '2018-12-28' '2019-01-28' '2019-02-28' '2019-03-28'
 '2019-04-28' '2019-05-28']
Unique values in entry_date: ['2018-01-12' '2015-08-10' '2015-08-16' '2015-08-14' '2015-08-15'
 '2015-08-20' '2015-10-10' '2015-08-17' '2017-07-09' '2017-10-28'
 '2015-12-28' '2015-08-13' '2015-08-31' '2015-08-09' '2015-09-05'
 '2017-09-28' '2015-09-20' '2015-09-04' '2015-09-24' '2015-09-06'
 '2015-09-03' '2015-09-12' '2015-09-17' '2016-01-21' '2015-09-07'
 '2015-09-27' '2017-09-19' '2017-08-28' '2016-03-20' '2015-10-09'
 '2015-09-11' '2015-09-10' '2016-07-26' '2016-07-11' '2016-04-03'
 '2015-08-30' '2017-12-18' '2016-02-21' '2015-08-22' '2015-08-21'
 '2015-08-29' '2015-10-03' '2015-08-23' '2017-01-28' '2015-08-27'
 '2016-12-21' '2015-08-24' '2015-12-20' '2015-08-28' '2015-11-15'
 '2015-10-11' '2017-08-04' '2016-05-08' '2015-08-26' '2017-03-05'
 '2015-08-06' '2015-08-07' '2017-12-10' '2016-11-20' '2016-04-12'
 '2015-08-03' '2016-10-22' '2015-08-08' '2015-11-10' '2015-09-25'
 '2015-09-21' '2016-10-24' '2017-01-22' '2015-10-17' '2017-12-05'
 '2017-11-27' '2015-10-22' '2017-06-03' '2017-01-03' '2015-09-26'
 '2015-10-02' '2016-10-04' '2015-10-29' '2017-06-12' '2015-10-01'
 '2017-01-27' '2015-10-31' '2015-09-13' '2015-09-14' '2015-09-18'
 '2016-05-28' '2017-04-25' '2017-09-10' '2017-02-17' '2015-09-19'
 '2015-10-16' '2015-10-05' '2016-10-08' '2016-06-18' '2016-02-04'
 '2017-01-31' '2015-10-15' '2016-03-26' '2015-09-16' '2016-01-23'
 '2016-01-31' '2017-01-18' '2015-07-19' '2015-07-18' '2015-07-17'
 '2016-09-19' '2015-07-16' '2015-12-04' '2017-11-24' '2015-07-13'
 '2016-07-10' '2015-07-12' '2015-07-27' '2015-07-23' '2016-11-26'
 '2016-04-01' '2015-07-24' '2015-07-25' '2015-07-20' '2016-04-10'
 '2017-05-28' '2016-01-08' '2017-04-04' '2016-12-05' '2015-05-18'
 '2015-11-12' '2017-12-09' '2015-05-17' '2015-06-21' '2016-11-22'
 '2015-05-21' '2016-10-05' '2015-06-27' '2015-09-28' '2015-06-06'
 '2015-05-20' '2015-05-14' '2015-05-15' '2015-05-11' '2015-05-12'
 '2015-05-13' '2015-05-16' '2017-11-20' '2015-06-05' '2015-10-25'
 '2016-10-25' '2015-06-19' '2015-05-22' '2015-05-29' '2016-09-12'
 '2015-05-30' '2016-03-22' '2015-05-31' '2015-05-28' '2016-04-25'
 '2015-06-01' '2015-06-22' '2015-05-23' '2015-05-24' '2016-11-21'
 '2015-05-25' '2017-08-14' '2015-04-27' '2015-04-28' '2015-04-30'
 '2015-04-26' '2016-10-29' '2017-08-13' '2015-05-01' '2015-05-02'
 '2015-04-24' '2015-04-23' '2015-04-25' '2015-07-06' '2015-06-04'
 '2017-05-05' '2015-08-01' '2015-05-09' '2015-11-29' '2015-05-08'
 '2017-07-11' '2016-05-06' '2015-05-10' '2017-12-23' '2017-10-23'
 '2015-05-04' '2015-05-03' '2015-05-05' '2017-05-16' '2017-09-29'
 '2015-05-07' '2015-06-07' '2016-04-11' '2017-08-25' '2016-06-12'
 '2015-07-02' '2015-07-03' '2015-06-29' '2015-07-01' '2015-07-04'
 '2016-01-03' '2015-06-26' '2015-06-28' '2015-07-10' '2017-10-13'
 '2015-07-11' '2015-07-09' '2016-01-09' '2017-10-21' '2015-07-05'
 '2016-07-20' '2018-01-26' '2015-07-07' '2015-07-08' '2015-06-08'
 '2015-06-10' '2015-06-11' '2016-07-03' '2017-09-03' '2017-10-24'
 '2015-06-12' '2015-06-13' '2016-12-20' '2016-04-15' '2017-05-14'
 '2015-10-26' '2017-03-18' '2017-01-14' '2015-07-31' '2015-11-05'
 '2015-06-03' '2016-03-19' '2015-12-27' '2015-06-14' '2015-09-23'
 '2016-12-03' '2016-10-14' '2015-06-25' '2015-06-20' '2016-10-07'
 '2015-06-15' '2017-07-08' '2015-06-17' '2015-06-18' '2016-08-06'
 '2018-01-06' '2017-09-12' '2017-03-28' '2015-11-16' '2015-07-30'
 '2016-01-24' '2016-11-27' '2015-08-02' '2017-05-15' '2015-11-21'
 '2016-03-25' '2015-07-26' '2015-07-28' '2015-07-29' '2016-11-07'
 '2015-12-03' '2015-11-26' '2016-04-16' '2015-11-30' '2015-11-23'
 '2015-11-24' '2015-11-27' '2015-11-28' '2017-04-16' '2017-12-14'
 '2017-09-02' '2018-01-08' '2015-11-20' '2015-11-22' '2016-06-05'
 '2015-12-25' '2016-07-19' '2016-08-14' '2016-05-23' '2016-07-22'
 '2016-06-11' '2015-12-05' '2016-10-11' '2015-12-07' '2017-02-18'
 '2017-06-04' '2016-09-04' '2016-08-19' '2016-01-10' '2015-12-19'
 '2015-12-10' '2015-12-01' '2015-12-02' '2015-12-21' '2016-07-16'
 '2017-04-17' '2015-11-11' '2015-11-13' '2017-08-06' '2016-02-16'
 '2016-01-17' '2016-11-25' '2016-03-08' '2015-11-09' '2015-11-07'
 '2015-11-06' '2015-11-08' '2016-12-04' '2017-06-14' '2016-12-14'
 '2015-11-19' '2015-11-17' '2015-11-18' '2017-12-22' '2017-11-03'
 '2015-12-14' '2016-11-06' '2016-08-09' '2016-08-02' '2015-11-14'
 '2017-01-20' '2016-04-29' '2016-05-13' '2016-03-04' '2016-03-05'
 '2016-03-11' '2016-03-01' '2016-03-02' '2016-03-03' '2016-03-06'
 '2016-03-07' '2017-10-09' '2017-06-26' '2016-02-26' '2017-03-02'
 '2016-02-25' '2016-10-10' '2017-05-06' '2017-06-02' '2016-05-24'
 '2016-02-28' '2016-02-27' '2016-05-07' '2017-09-17' '2017-06-30'
 '2016-04-02' '2016-03-18' '2016-05-10' '2016-03-15' '2016-03-14'
 '2017-06-25' '2016-03-16' '2017-09-16' '2017-11-06' '2016-03-21'
 '2016-07-18' '2018-01-19' '2017-09-22' '2016-12-30' '2017-11-25'
 '2016-03-13' '2016-03-12' '2016-08-10' '2016-05-31' '2017-01-21'
 '2017-02-10' '2016-02-22' '2016-02-06' '2016-02-07' '2016-02-05'
 '2016-02-11' '2017-10-31' '2016-02-09' '2016-02-08' '2016-10-15'
 '2017-10-10' '2016-02-01' '2016-10-28' '2016-01-30' '2017-06-27'
 '2017-11-13' '2016-11-18' '2016-02-02' '2016-12-09' '2016-02-19'
 '2016-06-03' '2016-09-11' '2016-02-20' '2016-02-18' '2017-11-04'
 '2016-04-22' '2016-02-12' '2017-08-12' '2016-02-13' '2016-02-15'
 '2016-09-25' '2016-02-14' '2016-03-27' '2016-02-17' '2017-01-02'
 '2016-06-25' '2016-04-23' '2016-04-19' '2016-04-21' '2017-02-28'
 '2016-04-24' '2016-04-26' '2016-04-30' '2016-06-26' '2016-05-02'
 '2016-08-28' '2016-04-18' '2016-11-28' '2016-04-14' '2016-05-30'
 '2016-04-17' '2017-05-20' '2017-10-01' '2017-09-08' '2016-05-04'
 '2016-05-03' '2017-05-27' '2015-12-31' '2017-02-19' '2016-07-24'
 '2016-08-08' '2017-11-11' '2016-06-24' '2017-07-21' '2016-09-03'
 '2016-05-01' '2016-05-16' '2016-12-17' '2017-10-06' '2016-06-17'
 '2016-05-09' '2016-03-28' '2016-05-27' '2016-03-31' '2016-04-04'
 '2016-07-01' '2017-02-26' '2016-07-17' '2016-10-21' '2016-10-20'
 '2016-07-04' '2016-04-09' '2016-08-16' '2016-04-08' '2017-07-22'
 '2017-02-09' '2017-11-26' '2016-10-30' '2016-06-10' '2016-07-07'
 '2016-04-05' '2016-08-30' '2016-04-06' '2015-12-17' '2015-12-13'
 '2017-06-09' '2015-12-26' '2015-12-24' '2017-01-25' '2015-12-18'
 '2016-11-12' '2017-03-19' '2016-11-15' '2015-12-12' '2017-10-02'
 '2015-12-11' '2017-04-14' '2016-11-29' '2016-10-02' '2016-01-15'
 '2016-01-16' '2016-01-14' '2016-01-18' '2016-10-09' '2016-01-28'
 '2017-05-08' '2017-01-13' '2016-12-27' '2016-05-15' '2016-06-16'
 '2016-01-13' '2016-01-12' '2016-01-11' '2016-08-23' '2016-01-29'
 '2016-01-26' '2016-01-25' '2017-11-14' '2016-05-14' '2017-11-05'
 '2016-01-22' '2016-01-19' '2016-01-02' '2016-01-04' '2017-01-04'
 '2016-01-01' '2015-12-30' '2015-12-29' '2017-05-19' '2017-07-18'
 '2017-02-11' '2016-01-07' '2016-01-06' '2015-10-08' '2015-10-23'
 '2016-10-23' '2017-11-21' '2015-10-06' '2015-10-24' '2015-10-13'
 '2015-10-14' '2016-02-03' '2016-05-21' '2017-02-24' '2015-10-04'
 '2015-10-18' '2017-10-14' '2015-10-30' '2016-10-13' '2016-09-05'
 '2015-11-02' '2015-10-27' '2017-08-22' '2017-12-16' '2017-08-18'
 '2017-07-02' '2017-03-13' '2015-11-03' '2017-08-05' '2015-10-19'
 '2015-10-20' '2017-08-29' '2015-01-17' '2017-05-26' '2018-01-09'
 '2016-09-28' '2017-12-03' '2017-10-08' '2017-06-17' '2016-08-13'
 '2016-12-12' '2016-06-20' '2016-07-05' '2016-07-25' '2017-01-08'
 '2016-07-14' '2017-02-03' '2016-11-14' '2015-06-16' '2017-07-03'
 '2015-04-12' '2016-07-15' '2017-07-12' '2017-07-04' '2017-03-12'
 '2016-12-26' '2016-11-05' '2017-02-14' '2016-07-02' '2015-01-02'
 '2017-01-07' '2016-08-21' '2016-11-08' '2016-09-27' '2016-05-19'
 '2015-03-07' '2017-06-18' '2017-08-03' '2015-03-15' '2017-10-15'
 '2016-09-10' '2018-01-02' '2017-06-20' '2017-09-26' '2015-02-12'
 '2016-09-18' '2015-03-08' '2017-09-30' '2015-03-21' '2016-09-09'
 '2017-11-12' '2017-06-05' '2017-02-12' '2015-03-23' '2016-10-19'
 '2015-03-09' '2017-06-16' '2016-08-29' '2016-09-20' '2015-04-10'
 '2016-08-27' '2018-01-05' '2015-02-21' '2017-06-13' '2017-10-20'
 '2017-07-28' '2017-02-05' '2015-01-18' '2016-09-17' '2017-04-24'
 '2015-02-09' '2017-02-20' '2017-07-10' '2017-08-07' '2017-08-21'
 '2017-04-29' '2018-01-16' '2017-04-30' '2017-03-11' '2017-11-07'
 '2016-12-23' '2017-03-17' '2017-06-28' '2016-06-13' '2015-01-23'
 '2017-03-21' '2017-04-08' '2017-11-19' '2015-02-14' '2015-03-20'
 '2015-01-03' '2015-02-01' '2017-02-13' '2018-01-15' '2017-12-24'
 '2015-04-03' '2017-05-12' '2017-05-21' '2017-10-29' '2017-12-15'
 '2016-05-17' '2015-04-06' '2017-12-04' '2016-09-06' '2015-03-14'
 '2017-06-10' '2016-09-26' '2017-04-07' '2016-08-24' '2018-01-03'
 '2016-07-08' '2017-01-16' '2015-01-16' '2015-01-11' '2015-01-13'
 '2015-04-02' '2016-06-19' '2017-06-23' '2016-07-31' '2017-01-11'
 '2016-07-30' '2015-03-05' '2017-05-09' '2016-12-28' '2017-11-02'
 '2015-04-09' '2017-10-07' '2015-02-20' '2017-12-29' '2015-04-04'
 '2015-02-16' '2015-04-13' '2015-02-17' '2015-04-05' '2015-02-15'
 '2017-09-04' '2016-10-16' '2017-01-09' '2017-02-23' '2015-02-18'
 '2015-02-19' '2015-03-29' '2015-04-17' '2015-02-08' '2015-02-10'
 '2015-02-07' '2015-02-06' '2015-02-13' '2015-03-01' '2015-02-28'
 '2017-01-15' '2015-02-27' '2015-04-16' '2015-02-29' '2015-02-22'
 '2015-02-23' '2015-02-24' '2015-02-26' '2015-02-25' '2017-02-07'
 '2015-01-19' '2015-01-24' '2015-01-20' '2015-01-12' '2015-02-02'
 '2015-01-10' '2015-01-09' '2015-01-31' '2015-01-14' '2015-03-06'
 '2015-03-27' '2015-01-30' '2016-11-19' '2015-02-03' '2015-01-25'
 '2015-01-26' '2015-01-27' '2017-01-23' '2015-01-29' '2015-01-28'
 '2015-03-30' '2016-05-29' '2016-04-20' '2015-03-28' '2015-03-26'
 '2015-04-18' '2015-04-19' '2015-04-20' '2016-10-17' '2015-04-11'
 '2017-02-25' '2016-12-01' '2017-08-19' '2015-03-10' '2015-03-12'
 '2015-03-13' '2015-03-02' '2015-03-04' '2015-03-22' '2017-06-24'
 '2016-08-20' '2015-11-04' '2015-03-25' '2017-06-06' '2015-03-16'
 '2017-12-12' '2017-03-25' '2015-03-19' '2015-03-17' '2017-02-06'
 '2017-01-29' '2017-01-01' '2017-03-14' '2015-01-05' '2015-01-08'
 '2015-01-04' '2017-03-27' '2017-07-14' '2016-07-09' '2015-04-08'
 '2017-04-09' '2016-04-27' '2017-09-24' '2017-08-20' '2017-08-16'
 '2017-12-19' '2017-08-26' '2017-08-27' '2017-09-05' '2017-08-23'
 '2017-09-11' '2017-08-08' '2017-08-11' '2017-09-27' '2017-09-01'
 '2017-08-01' '2017-07-31' '2017-07-30' '2017-12-11' '2017-08-02'
 '2017-10-03' '2017-09-15' '2017-09-13' '2017-09-18' '2017-10-17'
 '2017-10-04' '2017-12-26' '2018-01-07' '2018-01-10' '2017-10-12'
 '2017-08-30' '2017-08-31' '2017-10-16' '2017-09-09' '2017-09-25'
 '2017-11-28' '2017-11-17' '2018-01-13' '2017-07-01' '2018-01-27'
 '2018-01-14' '2017-07-07' '2017-07-15' '2017-07-24' '2017-06-19'
 '2017-07-23' '2017-12-31' '2017-06-21' '2017-10-27' '2017-07-17'
 '2017-07-19' '2017-07-13' '2017-07-16' '2017-05-29' '2017-05-07'
 '2017-05-02' '2017-04-28' '2017-12-30' '2017-05-01' '2017-05-23'
 '2017-05-13' '2017-04-15' '2017-04-20' '2017-04-21' '2017-04-10'
 '2017-04-11' '2018-01-22' '2017-04-23' '2017-11-18' '2017-05-22'
 '2017-04-22' '2017-12-01' '2017-05-30' '2017-06-01' '2017-11-29'
 '2017-11-08' '2017-06-11' '2017-10-30' '2017-08-09' '2017-07-29'
 '2017-07-25' '2017-07-26' '2017-11-10' '2017-12-17' '2017-11-15'
 '2017-11-16' '2017-12-02' '2017-10-25' '2017-12-20' '2017-12-27'
 '2018-01-21' '2017-12-08' '2018-01-20' '2018-01-23' '2018-01-24'
 '2018-01-28' '2018-01-29' '2018-01-30' '2018-01-01' '2017-11-22'
 '2017-11-23' '2017-09-23' '2017-10-22' '2016-08-26' '2016-10-01'
 '2016-09-02' '2016-09-01' '2016-09-24' '2016-08-25' '2016-09-23'
 '2016-08-22' '2017-04-03' '2017-12-13' '2016-09-13' '2016-08-12'
 '2016-12-10' '2016-09-30' '2016-10-03' '2016-11-11' '2016-09-16'
 '2017-04-26' '2018-01-25' '2016-07-23' '2016-06-07' '2016-06-06'
 '2016-06-28' '2016-06-21' '2016-06-04' '2016-07-28' '2016-06-23'
 '2016-06-14' '2016-05-20' '2016-05-22' '2016-05-26' '2016-07-12'
 '2016-09-21' '2017-03-31' '2016-11-04' '2016-06-27' '2016-06-30'
 '2016-08-03' '2016-08-05' '2016-08-07' '2016-08-04' '2016-07-29'
 '2016-08-01' '2016-07-27' '2017-11-09' '2017-01-17' '2016-11-24'
 '2016-11-23' '2016-12-11' '2017-03-03' '2017-01-10' '2016-12-19'
 '2016-12-06' '2016-12-16' '2017-06-08' '2016-12-13' '2016-12-02'
 '2016-12-08' '2016-11-30' '2017-01-06' '2016-11-13' '2016-12-18'
 '2016-12-31' '2017-02-27' '2017-03-06' '2017-03-20' '2017-03-10'
 '2017-03-07' '2017-04-01' '2017-03-08' '2017-03-09' '2017-03-04'
 '2017-03-24' '2017-02-15' '2017-02-16' '2017-02-21' '2017-06-22'
 '2017-04-02' '2017-09-06' '2017-03-26' '2017-04-13' '2017-06-15'
 '2017-01-30' '2016-12-22' '2016-12-24' '2017-01-24' '2017-01-26'
 '2017-02-04' '2017-05-24' '2016-10-31' '2016-10-18' '2016-11-10'
 '2016-11-02' '2016-11-03' '2016-11-16' '2017-08-17' '2016-09-08'
 '2016-05-12' '2015-05-26' '2015-09-15' '2016-05-18' '2015-12-08'
 '2017-10-05' '2017-05-04' '2017-04-06' '2017-06-07' '2017-03-29'
 '2016-01-05' '2018-01-04' '2017-04-12' '2017-10-26' '2016-02-24'
 '2016-05-05' '2015-12-15' '2017-09-20' '2015-01-01' '2016-03-23'
 '2016-06-08' '2017-01-05' '2015-10-12' '2017-02-02' '2015-02-04'
 '2016-02-10' '2017-12-21' '2016-03-10' '2015-02-05' '2016-09-22'
 '2018-02-09' '2018-02-10' '2018-02-13' '2018-02-12' '2018-02-25'
 '2018-02-02' '2018-02-04' '2018-02-16' '2018-02-11' '2018-02-05'
 '2018-02-06' '2018-02-23' '2018-02-22' '2018-02-24' '2018-02-03'
 '2018-02-20' '2018-02-18' '2018-02-27' '2018-01-31' '2018-02-17'
 '2018-02-01' '2018-02-19' '2018-02-07' '2018-02-26' '2018-02-14'
 '2018-03-03' '2018-03-18' '2018-03-19' '2018-03-05' '2018-02-28'
 '2018-03-02' '2018-03-24' '2018-03-16' '2018-03-17' '2018-03-12'
 '2018-03-13' '2018-03-23' '2018-03-09' '2018-03-04' '2018-03-06'
 '2018-03-20' '2018-03-27' '2018-03-30' '2018-03-10' '2018-03-26'
 '2018-03-15' '2018-03-25' '2018-03-11' '2018-03-14' '2018-03-01'
 '2018-03-31' '2018-02-21' '2015-07-15' '2018-03-28' '2018-04-29'
 '2018-04-02' '2018-04-15' '2018-03-29' '2018-04-06' '2018-04-08'
 '2018-04-16' '2018-04-07' '2018-04-23' '2018-04-20' '2018-04-13'
 '2018-04-10' '2018-04-14' '2018-04-27' '2018-04-22' '2018-04-30'
 '2018-04-01' '2018-03-21' '2018-04-09' '2018-04-04' '2018-04-17'
 '2018-04-03' '2018-04-12' '2018-04-05' '2018-04-25' '2018-04-28'
 '2018-04-21' '2018-04-19' '2018-04-18' '2018-04-24' '2018-04-26'
 '2017-12-06' '2018-03-08' '2018-05-27' '2018-05-11' '2018-05-13'
 '2018-05-26' '2018-05-18' '2018-05-07' '2018-05-08' '2018-05-21'
 '2018-05-01' '2018-05-06' '2018-05-22' '2018-05-04' '2018-05-20'
 '2018-05-15' '2018-05-14' '2018-05-12' '2018-05-05' '2018-05-16'
 '2018-05-17' '2018-05-19' '2018-05-25' '2018-05-23' '2018-05-28'
 '2018-05-29' '2018-05-02' '2018-05-03' '2018-05-09' '2018-05-10'
 '2018-05-24' '2018-06-15' '2018-06-16' '2018-06-09' '2018-06-22'
 '2018-06-01' '2018-06-17' '2018-06-18' '2018-06-21' '2018-06-29'
 '2018-06-05' '2018-06-02' '2018-06-23' '2018-06-03' '2018-06-04'
 '2018-06-24' '2018-06-26' '2018-06-12' '2018-06-13' '2018-06-14'
 '2018-06-11' '2018-06-19' '2018-06-08' '2018-06-10' '2018-06-27'
 '2018-06-28' '2018-06-30' '2018-06-25' '2018-06-20' '2018-06-07'
 '2018-05-30' '2018-06-06' '2016-05-25' '2018-07-13' '2015-08-19'
 '2018-07-15' '2018-07-16' '2018-07-24' '2018-07-22' '2018-07-03'
 '2018-07-21' '2016-06-15' '2018-07-01' '2018-07-27' '2018-07-31'
 '2018-07-23' '2018-07-28' '2015-04-29' '2018-07-08' '2018-07-29'
 '2018-07-11' '2018-07-07' '2018-07-17' '2016-03-09' '2017-06-29'
 '2018-07-20' '2018-07-26' '2018-07-30' '2018-07-14' '2017-11-30'
 '2018-07-09' '2018-07-02' '2018-07-10' '2018-07-25' '2017-03-30'
 '2018-07-12' '2015-07-14' '2018-07-06' '2017-04-05' '2017-04-27'
 '2017-05-11' '2016-08-17' '2016-05-11' '2016-01-20' '2015-09-30'
 '2017-08-10' '2016-06-09' '2017-12-25' '2016-10-12' '2016-09-07'
 '2015-04-01' '2017-09-07' '2015-08-11' '2015-04-21' '2015-07-21'
 '2015-06-02' '2015-06-09' '2018-05-31' '2016-11-01' '2017-03-16'
 '2018-07-05' '2018-07-04' '2018-07-18' '2018-07-19' '2018-08-04'
 '2018-08-03' '2018-08-15' '2018-08-07' '2018-08-10' '2018-08-11'
 '2018-08-17' '2018-08-27' '2018-08-31' '2018-08-26' '2018-08-12'
 '2018-08-25' '2018-08-18' '2018-08-21' '2018-08-20' '2018-08-30'
 '2018-08-19' '2018-08-05' '2018-08-28' '2018-08-08' '2018-08-06'
 '2018-08-24' '2018-08-14' '2018-08-01' '2018-08-13' '2018-08-09'
 '2018-08-29' '2018-08-16' '2018-08-23' '2018-08-22' '2018-08-02'
 '2018-09-03' '2018-09-17' '2018-09-21' '2018-09-23' '2018-09-09'
 '2018-09-08' '2018-09-02' '2018-09-15' '2018-09-22' '2018-09-28'
 '2018-09-07' '2018-09-10' '2018-09-19' '2018-09-16' '2018-09-11'
 '2018-09-25' '2018-09-29' '2018-09-18' '2018-09-30' '2018-09-14'
 '2018-09-27' '2018-09-01' '2018-09-24' '2018-09-05' '2018-09-13'
 '2018-09-26' '2018-09-20' '2018-09-12' '2018-09-04' '2018-09-06'
 '2018-10-28' '2018-10-07' '2018-10-27' '2018-10-16' '2018-10-14'
 '2018-10-19' '2018-10-13' '2018-10-09' '2018-10-21' '2018-10-23'
 '2018-10-01' '2018-10-17' '2018-10-26' '2018-10-12' '2018-10-08'
 '2018-10-06' '2018-10-20' '2018-10-29' '2018-10-10' '2018-10-05'
 '2018-10-18' '2018-10-15' '2018-10-11' '2018-10-02' '2018-10-03'
 '2018-10-30' '2018-10-04' '2018-10-22' '2018-10-25' '2018-10-24'
 '2018-11-25' '2018-10-31' '2018-11-11' '2018-11-30' '2018-11-04'
 '2018-11-10' '2018-11-23' '2018-11-27' '2018-11-18' '2018-11-26'
 '2018-11-15' '2018-11-13' '2018-11-12' '2018-11-06' '2018-11-05'
 '2018-11-16' '2018-11-02' '2018-11-19' '2018-11-17' '2018-11-24'
 '2018-11-07' '2018-11-14' '2018-11-21' '2018-11-20' '2018-11-08'
 '2018-11-03' '2018-11-09' '2018-11-29' '2018-11-01' '2018-11-28'
 '2018-11-22' '2018-12-04' '2018-12-14' '2018-12-29' '2018-12-23'
 '2018-12-30' '2018-12-11' '2018-12-05' '2018-12-17' '2018-12-10'
 '2018-12-22' '2018-12-02' '2018-12-09' '2018-12-31' '2018-12-28'
 '2018-12-07' '2018-12-25' '2018-12-18' '2018-12-16' '2018-12-08'
 '2018-12-27' '2018-12-24' '2018-12-01' '2018-12-20' '2018-12-21'
 '2018-12-15' '2018-12-03' '2018-12-13' '2018-12-26' '2018-12-19'
 '2018-12-06' '2018-12-12' '2019-01-04' '2019-01-07' '2019-01-25'
 '2019-01-20' '2019-01-18' '2019-01-05' '2019-01-12' '2019-01-13'
 '2019-01-11' '2019-01-14' '2019-01-26' '2019-01-06' '2019-01-22'
 '2019-01-28' '2019-01-23' '2019-01-17' '2019-01-10' '2019-01-15'
 '2019-01-29' '2019-01-21' '2019-01-24' '2019-01-09' '2019-01-08'
 '2019-01-02' '2019-01-19' '2019-01-27' '2019-01-16' '2019-01-01'
 '2019-01-03' '2019-02-02' '2019-01-31' '2019-02-26' '2019-02-04'
 '2019-02-05' '2019-02-29' '2019-02-13' '2019-02-22' '2019-02-11'
 '2019-02-23' '2019-02-16' '2019-02-24' '2019-02-06' '2019-02-25'
 '2019-02-14' '2019-02-01' '2019-02-19' '2019-02-08' '2019-02-21'
 '2019-02-17' '2019-02-15' '2019-02-28' '2019-02-12' '2019-02-09'
 '2019-02-03' '2019-02-10' '2019-02-18' '2019-02-27' '2019-02-20'
 '2019-02-07' '2019-01-30' '2019-03-28' '2019-03-29' '2019-03-03'
 '2019-03-22' '2019-03-01' '2019-03-31' '2019-03-11' '2019-03-02'
 '2019-03-21' '2019-03-23' '2019-03-10' '2019-03-15' '2019-03-14'
 '2019-03-09' '2019-03-18' '2019-03-13' '2019-03-05' '2019-03-17'
 '2019-03-08' '2019-03-07' '2019-03-04' '2019-03-30' '2019-03-24'
 '2019-03-16' '2019-03-20' '2019-03-19' '2019-03-25' '2019-03-27'
 '2019-03-26' '2019-03-06' '2019-03-12' '2019-04-13' '2019-04-01'
 '2019-04-19' '2019-04-18' '2019-04-02' '2019-04-26' '2019-04-11'
 '2019-04-07' '2019-04-14' '2019-04-10' '2019-04-06' '2019-04-25'
 '2019-04-12' '2019-04-08' '2019-04-20' '2019-04-04' '2019-04-29'
 '2019-04-27' '2019-04-15' '2019-04-28' '2019-04-05' '2019-04-23'
 '2019-04-21' '2019-04-03' '2019-04-09' '2019-04-22' '2019-04-24'
 '2019-04-17' '2019-04-16' '2019-05-12' '2019-05-06' '2019-05-05'
 '2019-05-21' '2019-05-17' '2019-05-26' '2019-05-03' '2019-05-07'
 '2019-05-31' '2019-05-20' '2019-05-08' '2019-05-18' '2019-05-23'
 '2019-05-28' '2019-05-30' '2019-05-04' '2019-05-19' '2019-05-13'
 '2019-05-09' '2019-05-24' '2019-05-29' '2019-05-16' '2019-05-10'

Convertir columnas tipo object a tipo datetime

In [9]:
df_comercial_activity['pk_partition'] = pd.to_datetime(df_comercial_activity['pk_partition'], errors='coerce', format='%Y-%m-%d')
df_comercial_activity['entry_date'] = pd.to_datetime(df_comercial_activity['entry_date'], errors='coerce', format='%Y-%m-%d')

df_socialdemographic['pk_partition'] = pd.to_datetime(df_socialdemographic['pk_partition'], errors='coerce', format='%Y-%m-%d')

In [10]:
df_products['pk_partition'] = pd.to_datetime(df_products['pk_partition'], errors='coerce', format='%Y-%m-%d')

## EDA df_products

In [11]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        datetime64[ns]
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: datetime64[ns](1), float64(2), int64(15)
memory usage: 818.9 MB

In [12]:
df_products.head()

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [13]:
columnas_categoricas_1 = df_products.select_dtypes(include=['object']).columns.tolist()
columnas_numericas_1 = df_products.select_dtypes(include=['int', 'float']).columns.tolist()

In [14]:
for col in columnas_categoricas_1:
    unique_values = df_products[col].unique()
    print(f"Unique values in {col}: {unique_values}")

In [15]:
#for col in columnas_numericas_1:
 #   unique_values = df_products[col].unique()
  #  print(f"Unique values in {col}: {unique_values}")

Convertir columnas tipo object a tipo datetime

In [16]:
# Convertir la columna 'pk_partition' a tipo datetime
df_products['pk_partition'] = pd.to_datetime(df_products['pk_partition'])

# Extraer solo la parte de la fecha (sin la hora)
df_products['pk_partition'] = df_products['pk_partition'].dt.date

In [17]:
df_products['pk_partition'].unique()
#Vemos que se han hecho los cambios

array([datetime.date(2018, 1, 28), datetime.date(2018, 2, 28),
       datetime.date(2018, 3, 28), datetime.date(2018, 4, 28),
       datetime.date(2018, 5, 28), datetime.date(2018, 6, 28),
       datetime.date(2018, 7, 28), datetime.date(2018, 8, 28),
       datetime.date(2018, 9, 28), datetime.date(2018, 10, 28),
       datetime.date(2018, 11, 28), datetime.date(2018, 12, 28),
       datetime.date(2019, 1, 28), datetime.date(2019, 2, 28),
       datetime.date(2019, 3, 28), datetime.date(2019, 4, 28),
       datetime.date(2019, 5, 28)], dtype=object)

## EDA df_socialdemographic

In [18]:
df_socialdemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   pk_cid        int64
 2   pk_partition  datetime64[ns]
 3   country_id    object
 4   region_code   float64
 5   gender        object
 6   age           int64
 7   deceased      object
 8   salary        float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 409.4+ MB

In [19]:
df_socialdemographic.head()

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,ES,29.0,H,35,N,87218.10
1,1,1050611,2018-01-28,ES,13.0,V,23,N,35548.74
2,2,1050612,2018-01-28,ES,13.0,V,23,N,122179.11
3,3,1050613,2018-01-28,ES,50.0,H,22,N,119775.54
4,4,1050614,2018-01-28,ES,50.0,V,23,N,NaN

In [20]:
columnas_categoricas_2 = df_socialdemographic.select_dtypes(include=['object']).columns.tolist()
columnas_numericas_2 = df_socialdemographic.select_dtypes(include=['int', 'float']).columns.tolist()

In [21]:
for col in columnas_categoricas_2:
    unique_values = df_socialdemographic[col].unique()
    print(f"Unique values in {col}: {unique_values}")

Unique values in country_id: ['ES' 'CA' 'CH' 'CL' 'IE' 'AT' 'FR' 'GB' 'DE' 'DO' 'BE' 'AR' 'VE' 'US'
 'MX' 'PL' 'MA' 'GT' 'GA' 'CO' 'BR' 'RU' 'IT' 'NO' 'SN' 'MR' 'ET' 'CN'
 'CM' 'SA' 'CI' 'QA' 'LU' 'SE' 'DJ' 'PT' 'JM' 'RO' 'HU' 'DZ' 'PE']
Unique values in gender: ['H' 'V' nan]
Unique values in deceased: ['N' 'S']

In [22]:
#for col in columnas_numericas_2:
 #   unique_values = df_socialdemographic[col].unique()
  #  print(f"Unique values in {col}: {unique_values}")

Convertir columnas tipo object en tipo datatime

In [23]:
# Convertir la columna 'pk_partition' a tipo datetime
df_socialdemographic['pk_partition'] = pd.to_datetime(df_socialdemographic['pk_partition'])

# Extraer solo la parte de la fecha (sin la hora)
df_socialdemographic['pk_partition'] = df_socialdemographic['pk_partition'].dt.date

In [ ]:
df_socialdemographic['pk_partition'].unique()
#Vemos que se han hecho los cambios

## Análisis Univariable

### Análisis Univariable df_comercial_activity

In [ ]:
#Primero vamos a hacer los histogramas de las variables numéricas.
import matplotlib.pyplot as plt

# Seleccionar solo las columnas numéricas
numeric_columns = df_comercial_activity.select_dtypes(include=[int, float]).columns

# Crear gráficos individuales
for col in numeric_columns:
    plt.figure(figsize=(10, 5))
    df_comercial_activity[col].hist(bins=50)
    plt.title(col)
    plt.show()

In [ ]:
#Ahora crearemos histogramas para todas las columnas categóricas
categorical_columns = df_comercial_activity.select_dtypes(include=[object, 'bool'])
for column in categorical_columns:
    df_comercial_activity[column].value_counts().plot(kind='bar', title=column)
    plt.show()

### Análisis Univariable df_products

In [ ]:
#Primero vamos a hacer los histogramas de las variables numéricas.
import matplotlib.pyplot as plt

# Seleccionar solo las columnas numéricas
numeric_columns_1 = df_products.select_dtypes(include=[int, float]).columns

# Crear gráficos individuales
for col in numeric_columns_1:
    plt.figure(figsize=(10, 5))
    df_products[col].hist(bins=50)
    plt.title(col)
    plt.show()

In [ ]:
#Ahora crearemos histogramas para todas las columnas categóricas
categorical_columns_1 = df_products.select_dtypes(include=[object, 'bool'])
for column in categorical_columns:
    df_products[column].value_counts().plot(kind='bar', title=column)
    plt.show()

### Análisis Univariable df_socialdemographic

In [ ]:
#Primero vamos a hacer los histogramas de las variables numéricas.
import matplotlib.pyplot as plt

# Seleccionar solo las columnas numéricas
numeric_columns_2 = df_socialdemographic.select_dtypes(include=[int, float]).columns

# Crear gráficos individuales
for col in numeric_columns_2:
    plt.figure(figsize=(10, 5))
    df_socialdemographic[col].hist(bins=50)
    plt.title(col)
    plt.show()

In [ ]:
#Ahora crearemos histogramas para todas las columnas categóricas
categorical_columns_2 = df_socialdemographic.select_dtypes(include=[object, 'bool'])
for column in categorical_columns_2:
    df_socialdemographic[column].value_counts().plot(kind='bar', title=column)
    plt.show()

# Data Cleaning

In [24]:
#Ver duplicados

In [25]:
df_comercial_activity[df_comercial_activity.duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, pk_cid, pk_partition, entry_date, entry_channel, active_customer, segment]
Index: []

In [26]:
df_products[df_products.duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, pk_cid, pk_partition, short_term_deposit, loans, mortgage, funds, securities, long_term_deposit, em_account_pp, credit_card, payroll, pension_plan, payroll_account, emc_account, debit_card, em_account_p, em_acount]
Index: []

In [27]:
df_socialdemographic[df_socialdemographic.duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, pk_cid, pk_partition, country_id, region_code, gender, age, deceased, salary]
Index: []

## NULOS

### Nulos df_comercial_activity

In [28]:
#Vemos los nulos que hay en cada columna
df_comercial_activity.isnull().sum()

Unnamed: 0              0
pk_cid                  0
pk_partition            0
entry_date           6413
entry_channel      133033
active_customer         0
segment            133944
dtype: int64

In [29]:
#Como previamente hemos hecho una visualización de las columnas y sus variables ya tenemos una idea clara de las acciones que vamos a realizar.

In [30]:
#Eliminamos la columna Unnamed

df_comercial_activity.drop(columns=['Unnamed: 0'], inplace=True)

Nulos columna "entry_date"

In [31]:
df_comercial_activity = df_comercial_activity.dropna(subset=['entry_date'])

Nulos columna "entry_channel"

In [32]:
df_comercial_activity['entry_channel'].value_counts(normalize=True)

entry_channel
KHE    5.346357e-01
KFC    1.527951e-01
KHQ    1.013456e-01
KAT    7.140100e-02
KHK    3.952010e-02
           ...
KES    1.888597e-06
KEJ    1.373525e-06
KHS    8.584534e-07
KDA    3.433814e-07
KFP    3.433814e-07
Name: proportion, Length: 67, dtype: float64

In [33]:
#Vamos a imputar los nulos en base al porcentaje que ocupan sobre el total sus variables.


# Calcular el porcentaje de cada categoría en entry_channel
porcentajes = df_comercial_activity['entry_channel'].value_counts(normalize=True)

# Número de nulos en la columna entry_channel
nulos_count = df_comercial_activity['entry_channel'].isnull().sum()

# Crear una lista para almacenar las categorías de acuerdo al porcentaje
nulos_relleno = []

for categoria, porcentaje in porcentajes.items():
    count_categoria = int(round(porcentaje * nulos_count))
    nulos_relleno.extend([categoria] * count_categoria)

# Ajustar la lista en caso de diferencias debido a redondeos
if len(nulos_relleno) < nulos_count:
    diferencia = nulos_count - len(nulos_relleno)
    nulos_relleno.extend(np.random.choice(porcentajes.index, diferencia, p=porcentajes.values))
elif len(nulos_relleno) > nulos_count:
    nulos_relleno = nulos_relleno[:nulos_count]

# Barajar la lista de relleno para distribuir aleatoriamente los valores
np.random.shuffle(nulos_relleno)

# Rellenar los nulos en la columna entry_channel
df_comercial_activity.loc[df_comercial_activity['entry_channel'].isnull(), 'entry_channel'] = nulos_relleno

# Verificar el resultado
print(df_comercial_activity['entry_channel'].isnull().sum())
print(df_comercial_activity['entry_channel'].value_counts(normalize=True))

0
entry_channel
KHE    5.346363e-01
KFC    1.527955e-01
KHQ    1.013457e-01
KAT    7.140103e-02
KHK    3.952028e-02
           ...
KBY    1.846719e-06
KEJ    1.343068e-06
KHS    8.394176e-07
KDA    3.357670e-07
KFP    3.357670e-07
Name: proportion, Length: 67, dtype: float64

In [34]:
#Una vez imputados los nulos agrupamos todas quellas variables que representan muy poco porcentaje sobre el total, de esta forma reducimos variables.
#Vamos a agrupar todas aquellas variables que representen el 2% o menos
# Calcular el porcentaje de cada categoría en entry_channel
porcentajes = df_comercial_activity['entry_channel'].value_counts(normalize=True)

# Identificar las categorías con porcentaje menor o igual al 2%
categorias_bajas = porcentajes[porcentajes <= 0.02].index

# Reemplazar las categorías de bajo porcentaje con "Otros"
df_comercial_activity['entry_channel'] = df_comercial_activity['entry_channel'].replace(categorias_bajas, 'Otros')

# Verificar el resultado
print(df_comercial_activity['entry_channel'].value_counts(normalize=True))

entry_channel
KHE      0.534636
KFC      0.152795
KHQ      0.101346
KAT      0.071401
Otros    0.070508
KHK      0.039520
KHM      0.029793
Name: proportion, dtype: float64

Nulos columna "segment"

In [35]:
#Imputaremos los nulos con la palabra "Unknown"
df_comercial_activity['segment'].fillna('Unknown', inplace=True)

In [36]:
df_comercial_activity.reset_index(drop=True,inplace=True)

### Nulos df_products

In [37]:
df_products.isnull().sum()

Unnamed: 0             0
pk_cid                 0
pk_partition           0
short_term_deposit     0
loans                  0
mortgage               0
funds                  0
securities             0
long_term_deposit      0
em_account_pp          0
credit_card            0
payroll               61
pension_plan          61
payroll_account        0
emc_account            0
debit_card             0
em_account_p           0
em_acount              0
dtype: int64

In [38]:
#Eliminamos la columna Unnamed

df_products.drop(columns=['Unnamed: 0'], inplace=True)

In [39]:
#En esta base de datos la cantidad de nulos no es significativa así que los vamos a eliminar.
df_products = df_products.dropna(subset=['payroll', 'pension_plan'])

In [40]:
df_products["em_account_pp"].unique()
#Vemos que en la columna em_account_pp solo hay una variable (0). Esa columna no aporta nada

array([0], dtype=int64)

In [41]:
df_products.drop(columns=['em_account_pp'], inplace=True)

In [42]:
df_products.reset_index(drop=True,inplace=True)

### Nulos df_socialdemographic

In [43]:
df_socialdemographic.isnull().sum()

Unnamed: 0            0
pk_cid                0
pk_partition          0
country_id            0
region_code        2264
gender               25
age                   0
deceased              0
salary          1512103
dtype: int64

In [44]:
#Eliminamos la columna Unnamed

df_socialdemographic.drop(columns=['Unnamed: 0'], inplace=True)

In [45]:
#Primero vamos a agrupar todas las variables menos (ES) de la columna "country_id" en una sola variable llamada Otros
# Agrupar todas las variables menos 'ES' en 'Otros' para la columna 'country_id'
df_socialdemographic['country_id'] = df_socialdemographic['country_id'].apply(lambda x: x if x == 'ES' else 'Otros')

# Verificar el resultado
print(df_socialdemographic['country_id'].value_counts())

country_id
ES       5960672
Otros       2252
Name: count, dtype: int64

In [46]:
#Ahora vamos a agrupar las cariables de la columna "age" en varios grupos de edades

# Definir los límites de los grupos de edad
bins = [0, 17, 25, 35, 45, 65, 110]

# Definir los nombres de los grupos de edad
labels = ['0-17', '18-25', '26-35', '36-45', '46-65', '66-110']

#Poner títulos a los rangos de edad (falta código Ivan)

# Agrupar las edades en los intervalos especificados
df_socialdemographic['age'] = pd.cut(df_socialdemographic['age'], bins=bins, labels=labels, right=False)

# Verificar el resultado
print(df_socialdemographic['age'].value_counts())

age
18-25     2935117
26-35     1545217
36-45      744912
46-65      571455
66-110     132261
0-17        33962
Name: count, dtype: int64

In [47]:
#En esta base de datos hay columnas con pocos nulos así que los vamos a eliminar
df_socialdemographic = df_socialdemographic.dropna(subset=['region_code', 'gender'])

In [48]:
df_socialdemographic.reset_index(drop=True,inplace=True)

# Ordenar dataframe por fecha de mas atigua a mas nueva

In [49]:
# Ordenar el DataFrame por la columna 'pk_partition' de más antiguo a más nuevo
df_socialdemographic = df_socialdemographic.sort_values(by='pk_partition', ascending=True)
df_socialdemographic

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,1375586,2018-01-28,ES,29.0,H,36-45,N,87218.1
159590,1329749,2018-01-28,ES,50.0,H,18-25,N,80471.1
159591,1329751,2018-01-28,ES,9.0,H,18-25,N,NaN
159592,1329752,2018-01-28,ES,33.0,H,18-25,N,NaN
159593,1329753,2018-01-28,ES,1.0,H,18-25,N,NaN
...,...,...,...,...,...,...,...,...
5665407,1489298,2019-05-28,ES,30.0,V,36-45,N,NaN
5665406,1489299,2019-05-28,ES,30.0,H,46-65,N,NaN
5665405,1489268,2019-05-28,ES,28.0,H,26-35,N,NaN
5665416,1489286,2019-05-28,ES,3.0,H,36-45,N,NaN
5960634,1550586,2019-05-28,ES,28.0,H,36-45,N,NaN

In [50]:
df_socialdemographic["pk_partition"].unique()

array([datetime.date(2018, 1, 28), datetime.date(2018, 2, 28),
       datetime.date(2018, 3, 28), datetime.date(2018, 4, 28),
       datetime.date(2018, 5, 28), datetime.date(2018, 6, 28),
       datetime.date(2018, 7, 28), datetime.date(2018, 8, 28),
       datetime.date(2018, 9, 28), datetime.date(2018, 10, 28),
       datetime.date(2018, 11, 28), datetime.date(2018, 12, 28),
       datetime.date(2019, 1, 28), datetime.date(2019, 2, 28),
       datetime.date(2019, 3, 28), datetime.date(2019, 4, 28),
       datetime.date(2019, 5, 28)], dtype=object)

# Quedarnos con las fechas más recientes

VEMOS QUE HAY CLIENTES QUE ESTÁN REPETIDOS, NOS QUEDAMOS CON SU INFORMACIÓN MAS RCIENTE, ES DECIR, QUE NOS QUEDAMOS CON UN SOLA "FILA" POR CLIENTE  (LA QUE TENGA LA FECHA MÁS RECIENTE, ESO EN TODOS LOD DF Y LUEGO INTENTAMOS HACER UN MERGE, PRIMERO CON "PK_CID" Y LUEGO JUNTAMOS LOS 2 DF QUE QUEDAN A APRTIR DE LA COLUMNA "PK_PARTITION" PORQUE SE SUPONE QUE TENEMOS LAS MISMAS FECHAS EN AMBOS DF)

Hay que tener en cuenta que para unir df_comercial_activity y df_socialdemographic solo se puede hacer a través de la columna "pk_cid", por lo tanto, lo primero que hay que hacer es quedarnos con la info de cada cliente pero sin que esté repetida, nos quedamos con la información con fecha más reciente.

In [51]:
df_comercial_activity["pk_cid"].value_counts()

pk_cid
1375586    17
1328873    17
1328875    17
1328876    17
1328877    17
           ..
1523351     1
269752      1
1523348     1
1523346     1
1550586     1
Name: count, Length: 454899, dtype: int64

In [52]:
df_socialdemographic["pk_cid"].value_counts()

pk_cid
1375586    17
1056661    17
1056645    17
1056646    17
1056647    17
           ..
1528381     1
1527625     1
1527606     1
1527611     1
1550586     1
Name: count, Length: 456225, dtype: int64

In [53]:
# Quedarse con la transacción más reciente por usuario (pk_cid)
df_comercial_activity_recent = df_comercial_activity.sort_values('pk_partition').groupby('pk_cid').tail(1).reset_index(drop=True)

In [54]:
df_comercial_activity_recent["pk_cid"].value_counts()

pk_cid
1298102    1
324846     1
336162     1
337281     1
336874     1
          ..
1156210    1
1156209    1
1156208    1
1156207    1
1550586    1
Name: count, Length: 454899, dtype: int64

In [55]:
df_comparison = df_comercial_activity_recent[['pk_cid', 'pk_partition']]

In [56]:
df_comparison

         pk_cid pk_partition
0       1298102   2018-07-28
1       1297423   2018-07-28
2       1299811   2018-07-28
3       1299907   2018-07-28
4       1299380   2018-07-28
...         ...          ...
454894  1490987   2019-05-28
454895  1490988   2019-05-28
454896  1490991   2019-05-28
454897  1490992   2019-05-28
454898  1550586   2019-05-28

[454899 rows x 2 columns]

In [57]:
# Quedarse con la transacción más reciente por usuario (pk_cid)
df_socialdemographic_recent = df_socialdemographic.sort_values('pk_partition').groupby('pk_cid').tail(1).reset_index(drop=True)

In [58]:
#Nos hemos dado cuenta de que el type de la columna "plk_partition" era object y lo estamos cambiando a datetime
df_socialdemographic_recent['pk_partition'] = pd.to_datetime(df_socialdemographic_recent['pk_partition'], errors='coerce', format='%Y-%m-%d')

In [59]:
df_socialdemographic_recent.info()
#Vemos que ya se ha hecho el cambio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456225 entries, 0 to 456224
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   pk_cid        456225 non-null  int64
 1   pk_partition  456225 non-null  datetime64[ns]
 2   country_id    456225 non-null  object
 3   region_code   456225 non-null  float64
 4   gender        456225 non-null  object
 5   age           456225 non-null  category
 6   deceased      456225 non-null  object
 7   salary        299441 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 24.8+ MB

In [60]:
df_socialdemographic_recent["pk_cid"].value_counts()

pk_cid
635756     1
1095396    1
1095383    1
1095384    1
1095385    1
          ..
1487030    1
1487062    1
1487035    1
1487034    1
1550586    1
Name: count, Length: 456225, dtype: int64

In [61]:
df_comparison_1 = df_comercial_activity_recent[['pk_cid', 'pk_partition']]
df_comparison_1

         pk_cid pk_partition
0       1298102   2018-07-28
1       1297423   2018-07-28
2       1299811   2018-07-28
3       1299907   2018-07-28
4       1299380   2018-07-28
...         ...          ...
454894  1490987   2019-05-28
454895  1490988   2019-05-28
454896  1490991   2019-05-28
454897  1490992   2019-05-28
454898  1550586   2019-05-28

[454899 rows x 2 columns]

In [62]:
df_products["pk_cid"].value_counts()

pk_cid
1375586    17
1328802    17
1328781    17
1328782    17
1328783    17
           ..
1521045     1
1545224     1
1470941     1
1521049     1
1550586     1
Name: count, Length: 456373, dtype: int64

In [63]:
# Quedarse con la transacción más reciente por usuario (pk_cid)
df_products = df_products.sort_values('pk_partition').groupby('pk_cid').tail(1).reset_index(drop=True)

In [64]:
df_products["pk_cid"].value_counts()

pk_cid
1298102    1
327107     1
313869     1
313778     1
336682     1
          ..
1156347    1
1156346    1
1156345    1
1156344    1
1550586    1
Name: count, Length: 456373, dtype: int64

In [65]:
df_comparison_2 = df_products[['pk_cid', 'pk_partition']]
df_comparison_2

         pk_cid pk_partition
0       1298102   2018-07-28
1       1297423   2018-07-28
2       1299907   2018-07-28
3       1299811   2018-07-28
4       1299380   2018-07-28
...         ...          ...
456368  1489285   2019-05-28
456369  1489286   2019-05-28
456370  1489287   2019-05-28
456371  1489273   2019-05-28
456372  1550586   2019-05-28

[456373 rows x 2 columns]

# Merge

Antes de seguir haciendo limpieza hay que hacer un Join de los 3 deaframes (joinfechafresca.csv)

In [66]:
#Join Nico
#df_final = pd.merge(df_comercial_activity_recent, df_socialdemographic_recent, on = "pk_cid")

In [67]:
# Fusionar df_comercial_activity y df_products por 'pk_cid' 
df_merged = pd.merge(df_comercial_activity, df_products, on='pk_cid', how='inner', suffixes=('_comercial', '_product'))

In [74]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5956511 entries, 0 to 5956510
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   pk_cid              int64
 1   pk_partition        datetime64[ns]
 2   entry_date          datetime64[ns]
 3   entry_channel       object
 4   active_customer     float64
 5   segment             object
 6   short_term_deposit  int64
 7   loans               int64
 8   mortgage            int64
 9   funds               int64
 10  securities          int64
 11  long_term_deposit   int64
 12  credit_card         int64
 13  payroll             float64
 14  pension_plan        float64
 15  payroll_account     int64
 16  emc_account         int64
 17  debit_card          int64
 18  em_account_p        int64
 19  em_acount           int64
dtypes: datetime64[ns](2), float64(3), int64(13), object(2)
memory usage: 908.9+ MB

In [69]:
#Vamos a borrar la columna "pk_partition_product" porque está duplicada y a parte es type object
df_merged.drop(columns=['pk_partition_product'], inplace=True)

In [73]:
df_merged = df_merged.rename(columns={'pk_partition_comercial': 'pk_partition'})
#Cambiamos el nombre de la columna para dejar el nombre estandar de antes

In [76]:
# Fusionar el resultado con df_socialdemographic por 'pk_cid'
df_final = pd.merge(df_merged, df_socialdemographic, on='pk_cid', how='inner', suffixes=('_merged', '_social'))

MemoryError: Unable to allocate 668. MiB for an array with shape (87588718,) and data type int64