In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder
import random
pd.set_option('display.max_columns',None)

import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import OrdinalEncoder

import warnings
warnings.filterwarnings("ignore")

# fechas
from datetime import datetime

# gráficos
import seaborn as sns
import matplotlib.pyplot as plt

# preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures

# algoritmos de clasificación
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

# algoritmos de regresión
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# métricas
import sklearn.metrics as metrics

# hiperparametrización
from sklearn.model_selection import GridSearchCV

# TensorFlow y tf.keras
import tensorflow as tf
from tensorflow import keras

import xgboost as xgb

from numpy import random
random.seed(42)

from sklearn.model_selection import train_test_split

In [2]:
!pip install pyarrow

import pyarrow as pa
import pyarrow.parquet as pq

Requirement already satisfied: pyarrow in c:\users\herre\appdata\local\programs\python\python312\lib\site-packages (17.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\herre\appdata\local\programs\python\python312\lib\site-packages (from pyarrow) (1.26.4)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Ruta al archivo Parquet (asegúrate de usar barras invertidas dobles \\ o barras inclinadas /) 
ruta_archivo = "C:/Users/Herre/Downloads/easymoney.parquet"
# Leer el archivo Parquet 
df_parquet = pd.read_parquet(ruta_archivo, engine='pyarrow')

In [4]:
df_parquet

,pk_cid,pk_partition_merged,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,pk_partition_social,country_id,region_code,gender,age,deceased,salary
0,1375586,2018-01-28,2018-01-12,Otros,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,1,2018-01-28,ES,29.0,H,36-45,N,87218.10
1,1375586,2018-01-28,2018-01-12,Otros,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,1,2018-02-28,ES,29.0,H,36-45,N,87218.10
2,1375586,2018-01-28,2018-01-12,Otros,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,1,2018-03-28,ES,29.0,H,36-45,N,87218.10
3,1375586,2018-01-28,2018-01-12,Otros,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,1,2018-04-28,ES,29.0,H,36-45,N,87218.10
4,1375586,2018-01-28,2018-01-12,Otros,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,1,2018-05-28,ES,29.0,H,36-45,N,87218.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87588713,1166789,2019-05-28,2016-08-14,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-02-28,ES,50.0,H,18-25,N,199592.82
87588714,1166789,2019-05-28,2016-08-14,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-03-28,ES,50.0,H,18-25,N,199592.82
87588715,1166789,2019-05-28,2016-08-14,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-04-28,ES,50.0,H,18-25,N,199592.82
87588716,1166789,2019-05-28,2016-08-14,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-05-28,ES,50.0,H,18-25,N,199592.82
87588717,1550586,2019-05-28,2019-05-13,KHE,1.0,Unknown,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-05-28,ES,28.0,H,36-45,N,NaN