In [1]:
## SET UP ##

# 1: Importamos las librerias que vamos a usar:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OrdinalEncoder

In [2]:
# 2: Seteamos el working directory:
os.chdir('C:/Users/carle/Desktop/Nuclio_EasyMoney')

In [3]:
# 3: Leemos los documentos CSV:
# 3.1: Function to load CSV files
def load_csv(file_path):
    if os.path.exists(file_path):
        return pd.read_csv(file_path)
    else:
        print(f"File {file_path} not found!")
        return None
    
# 3.2: Paths to the CSV files
path_commercial = '0_Data/commercial_activity_df.csv'

# 3.3: Load dataframes
df_commercial = load_csv(path_commercial)

In [4]:
## df_commercial ##
## ANALISIS PRELIMINAR ##

# 1: Analizamos la información preliminar del archivo:
df_commercial.info()
df_commercial.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

,Unnamed: 0,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES
1,1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
2,2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
3,3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO
4,4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO

In [5]:
# 1: Analizamos la información preliminar del archivo:
df_commercial.describe()

         Unnamed: 0        pk_cid  active_customer
count  5.962924e+06  5.962924e+06     5.962924e+06
mean   7.155425e+06  1.234930e+06     4.033845e-01
std    3.920784e+06  1.623020e+05     4.905767e-01
min    0.000000e+00  1.589100e+04     0.000000e+00
25%    4.240386e+06  1.112532e+06     0.000000e+00
50%    7.499346e+06  1.231097e+06     0.000000e+00
75%    1.020142e+07  1.352339e+06     1.000000e+00
max    1.364731e+07  1.553689e+06     1.000000e+00

In [6]:
# 1: Analizamos la información preliminar del archivo:
df_commercial.isnull().sum()

Unnamed: 0              0
pk_cid                  0
pk_partition            0
entry_date              0
entry_channel      133033
active_customer         0
segment            133944
dtype: int64

In [7]:
# 1: Analizamos la información preliminar del archivo:
# 1.1: Function to calculate percentage of null values
def null_percentage(df):
    return (df.isnull().sum() / len(df)) * 100

# 1.2: Apply the function
null_percentage(df_commercial)

Unnamed: 0         0.000000
pk_cid             0.000000
pk_partition       0.000000
entry_date         0.000000
entry_channel      2.231003
active_customer    0.000000
segment            2.246281
dtype: float64

In [8]:
# 1: Analizamos la información preliminar del archivo:
df_commercial[df_commercial.duplicated()].count()

Unnamed: 0         0
pk_cid             0
pk_partition       0
entry_date         0
entry_channel      0
active_customer    0
segment            0
dtype: int64

In [9]:
for i in df_commercial:
    print(df_commercial[i].value_counts())

Unnamed: 0
0           1
9344701     1
9344699     1
9344698     1
9344697     1
           ..
5074084     1
5074083     1
5074082     1
5074081     1
13647308    1
Name: count, Length: 5962924, dtype: int64
pk_cid
1375586    17
1328781    17
1328783    17
1328784    17
1328786    17
           ..
1521045     1
1545224     1
1470941     1
1521049     1
1550586     1
Name: count, Length: 456373, dtype: int64
pk_partition
2019-05-28    442995
2019-04-28    439627
2019-03-28    436183
2019-02-28    431727
2019-01-28    426875
2018-12-28    422481
2018-11-28    416387
2018-10-28    402300
2018-09-28    375323
2018-08-28    352922
2018-07-28    339339
2018-06-28    252104
2018-05-28    249926
2018-04-28    247463
2018-03-28    245258
2018-02-28    242521
2018-01-28    239493
Name: count, dtype: int64
entry_date
2017-07-28    57389
2017-10-03    54287
2017-08-04    45746
2016-10-14    40804
2016-08-03    33414
              ...
2015-04-29       11
2016-06-15       11
2015-08-19       11
2018-05-31        9
2017-05-01        7
Name: count, Length: 1499, dtype: int64
entry_channel
KHE    3113947
KFC     890620
KHQ     590280
KAT     416084
KHK     230197
        ...
KEJ          8
KHS          5
KDA          2
KFP          2
KDS          1
Name: count, Length: 68, dtype: int64
active_customer
0.0    3557573
1.0    2405351
Name: count, dtype: int64
segment
03 - UNIVERSITARIO    3900166
02 - PARTICULARES     1830875
01 - TOP                97939
Name: count, dtype: int64

In [14]:
## TRANSFORMACION DATOS ##

# 1: Eliminamos los NA de la muestra:
df_commercial.dropna(inplace=True)

In [15]:
# 2: Comprobamos el resultado:
df_commercial.isnull().sum()

Unnamed: 0         0
pk_cid             0
pk_partition       0
entry_date         0
entry_channel      0
active_customer    0
segment            0
dtype: int64